.DS_Store
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.vscode/
.idea/
__pycache__/
.env
.env.*
venv/
.venv/
renv/
renv/library/
.Renviron
data/raw/
data/external/*
data/interim/
data/processed/
**/*.log
**/*.sscore
**/*.pgen
**/*.pvar
**/*.psam
**/*.bed
**/*.bim
**/*.fam
